{% extends 'base.html.twig' %}

{% block title %}Modifier l'article {{article.title}}{% endblock %}

{% block body %}
{% if is_granted('ROLE_USER') %}

 <div class="container">
    <h1>Modifions l'article : {{article.title}}</h1>
    <a href="{{ path('list_article') }}" class="btn btn-light h-75">List</a>
   <div class="">
    {{ form(form) }}
    </div>

    </div>
    

{% else %}
    <a href=" {{ path('app_register') }} " class="btn btn-primary">S'inscrire</a>
    <a href=" {{ path('app_login') }} " class="btn btn-success">Se connecter</a>

{% endif %}

{% endblock %}
