{% extends 'base.html.twig' %}

{% block title %} {{article.title}} {% endblock %}

{% block body %}
{% if is_granted('ROLE_USER') %}

 <div class="container">
    <a href="{{ path('list_article') }}" class="btn btn-light h-75">List</a>
    <h3 class="pb-3 mb-4 font-italic border-bottom text-border">{{article.title}}</h3>
    <p class="card-text"> {{ article.body|raw }} </p>
    <a href="{{ path('delete_article', {id_article: article.id}) }}" class="btn btn-danger h-75">Supprimer</a>


    

{% else %}
    <a href=" {{ path('app_register') }} " class="btn btn-primary">S'inscrire</a>
    <a href=" {{ path('app_login') }} " class="btn btn-success">Se connecter</a>

{% endif %}

{% endblock %}
